{% extends 'base.html.twig' %}

{% block title %}Register | Fast2Fit{% endblock %}

{% block body %}
<section class="auth-section">
  <div class="auth-card">
    <h1 class="auth-title">Napravite nalog</h1>

    {{ form_start(registrationForm, {'attr': {'class': 'auth-form'}}) }}

      <div class="form-group">
        {{ form_label(registrationForm.name) }}
        {{ form_widget(registrationForm.name, {'attr': {'class': 'form-input'}}) }}
        {{ form_errors(registrationForm.name) }}
      </div>

      <div class="form-group">
        {{ form_label(registrationForm.surname) }}
        {{ form_widget(registrationForm.surname, {'attr': {'class': 'form-input'}}) }}
        {{ form_errors(registrationForm.surname) }}
      </div>

      <div class="form-group">
        {{ form_label(registrationForm.height) }}
        {{ form_widget(registrationForm.height, {'attr': {'class': 'form-input'}}) }}
        {{ form_errors(registrationForm.height) }}
      </div>

      <div class="form-group">
        {{ form_label(registrationForm.email) }}
        {{ form_widget(registrationForm.email, {'attr': {'class': 'form-input'}}) }}
        {{ form_errors(registrationForm.email) }}
      </div>

      <div class="form-group">
        {{ form_label(registrationForm.plainPassword) }}
        {{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'form-input'}}) }}
        {{ form_errors(registrationForm.plainPassword) }}
      </div>

      <button type="submit" class="btn btn-primary w-100 mt-2">Registruj se</button>

    {{ form_end(registrationForm) }}
  </div>
</section>
{% endblock %}