<header>
    <div class="header-left">
        <a href="{{ path('app_homepage') }}" class="logo">Fast2Fit</a>

        {% if app.user %}
            <nav>
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('app_all_users') }}">Korisnici</a>
                    <a href="{{ path('app_plans_view') }}">Upravljaj Planovima</a>
                    <a href="{{ path('app_inbox') }}">Poruke Korisnika</a>
                {% elseif is_granted('ROLE_TRAINER') %}
                    <a href="{{ path('app_users_trainer_view') }}">Pregled korisnika</a>
                    <a href="{{ path('app_plans_view') }}">Upravljaj Planovima</a>
                    <a href="{{ path('app_inbox') }}">Poruke Korisnika</a>
                {% else %}
                    <a href="{{ path('app_pers_prog_view')}}">Moj Napredak</a>
                    <a href="{{ path('app_user_plans')}}">Moji Planovi</a>
                    <a href="{{ path('app_send_msg') }}">Pošalji Poruku</a>
                    <a href="{{ path('app_user_sent_msg') }}">Poslate Poruke</a>
                    <a href="{{ path('app_usr_inbox') }}">Primljene Poruke</a>
                {% endif %}
            </nav>
        {% endif %}
    </div>

    <div class="header-right">
        {% if app.user %}
            <span class="text-muted" style="margin-right: 1rem;">
                Zdravo, {{ app.user.name }}
            </span>
            <a href="{{ path('app_logout') }}" class="btn btn-outline">Odjavi se</a>
        {% else %}
            <a href="{{ path('app_login') }}" class="btn">Prijavi se</a>
            <a href="{{ path('app_register') }}" class="btn btn-primary">Registruj se</a>
        {% endif %}
    </div>
</header>